<div class="w-32 px-4 py-2 rounded-xl border flex gap-2 justify-center items-center border-solid border-teal-800 border">
  <%= render "shared/icons/#{tech_stack.downcase}", class: 'w-4 h-4 text-black fill-black' %>
  <h4 class="text-xs"><%= tech_stack %></h4>
</div>
