<div class="px-4 py-2 border-solid border-white rounded-xl border flex gap-2 items-center">
  <%= render "shared/icons/#{tech_stack.downcase}", class: 'w-6 h-6 text-black fill-black' %>
  <h4 class="text-xs"><%= tech_stack %></h4>
</div>
