<div class="flex flex-col md:flex-row">
  <section class="md:w-1/4 relative">
    <%= render 'shared/menu_panel' %>
  </section>

  <section class="md:w-3/4 p-12 flex flex-col items-center gap-12 justify-center">
    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Projects/Features</h1>
      <%= link_to "New project", new_project_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" if admin_authenticated? %>
    </div>

    <%= render partial: 'card', collection: @projects, as: :project %>
  </section>
</div>
